{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block menu %}
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div  class="wrapper fadeInDown">
        <div id="formContent">
            <div>
                <h3>Connexion</h3>
            </div>

            <!-- Login Form -->
            <form method="post">
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="login" required autofocus value="{{ last_username }}">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>
                {# CSRF Token #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <label>
                    <input type="checkbox" name="_remember_me"> Rester connecté
                </label>

                <input type="submit" value="Se connecter">
            </form>
        </div>
    </div>

{% endblock %}
