<div class="card">
  <img
    class="card-img-top"
    src="{{ asset('photos/' ~ equipe.urlPhoto) }}"
    alt="Logo {{ equipe.libelle }}"
  />
  <div class="card-body">
    <h5 class="card-title text-center">{{ equipe.libelle }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Entraineur : {{ equipe.entraineur }}</li>
      <li class="list-group-item">Creneaux : {{ equipe.creneaux }}</li>
      <li class="list-group-item">Commentaire : {{ equipe.commentaire }}</li>
    </ul>
  </div>
</div>
