{{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.equipe_locale)}}
    {{ form_widget(form.equipe_locale, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.domicile_exterieur)}}
    {{ form_widget(form.domicile_exterieur, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.equipe_adverse)}}
    {{ form_widget(form.equipe_adverse, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.date_heure)}}
    {{ form_widget(form.date_heure, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.num_semaine)}}
    {{ form_widget(form.num_semaine, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.num_journee)}}
    {{ form_widget(form.num_journee, {'attr': {'class': 'form-control'}}) }}
  </div>
  <div class="form-group">
    {{ form_label(form.gymnase)}}
    {{ form_widget(form.gymnase, {'attr': {'class': 'form-control'}}) }}
  </div>
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
