{% extends 'base.html.twig' %}

{% block title %}Matches index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.bootstrap4.min.css')}}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/pages/matches-index.js') }}"></script>
{% endblock %}

{% block body %}
    <br />
    <a href="{{ path('matches_new') }}" class="btn btn-success">
      Ajouter un match <i class="fas fa-plus-square"></i>
    </a>
    <br />
    <table id="matches-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Equipe Locale</th>
                <th>Equipe Adverse</th>
                <th>Domicile Exterieur</th>
                <th>Date Heure</th>
                <th>Num Semaine</th>
                <th>Num Journee</th>
                <th>Gymnase</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.equipeLocale.libelle }}</td>
                <td>{{ match.equipeAdverse }}</td>
                <td>{{ match.domicileExterieur }}</td>
                <td>{{ match.dateHeure ? match.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.numSemaine }}</td>
                <td>{{ match.numJournee }}</td>
                <td>{{ match.gymnase }}</td>
                <td>
                    <a href="{{ path('matches_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('matches_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
