{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <br />
    <div class="card">
      <div class="card-body">
        <div class="row">
            {% set equipe = match.equipeLocale %}
            {% include ('equipes/_card.html.twig') %}
        </div>
        <br />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Equipe adverse : {{ match.equipeAdverse }}</li>
          <li class="list-group-item">Location : {{ match.domicileExterieur ? 'Domicile' : 'Exterieur' }}</li>
          <li class="list-group-item">Date : {{ match.dateHeure ? match.dateHeure|date('Y-m-d H:i:s') : '' }}</li>
          <li class="list-group-item">Semaine : {{ match.numSemaine }}</li>
          <li class="list-group-item">Gymnase : {{ match.gymnase }}</li>
        </ul>
      </div>
    </div>
    
    <a href="{{ path('matches_index') }}">back to list</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('matches_edit', {'id': match.id}) }}">edit</a>
        {{ include('matches/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
