{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <h2>
            <img src="{{asset('img/ballon.jpg')}}" alt="Ballon" width="50"/>
            Équipe de France féminine championne d'Europe 2019 !
            <img src="{{asset('img/ballon.jpg')}}" alt="Ballon" width="50"/>
        </h2>
    </div>
</div>
{% endblock %}
