<td>
    <table>
        <tbody>
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.equipeAdverse }}</td>
                <td>{{ match.dateHeure ? match.dateHeure|localizeddate('none', 'none', null, null, 'EEEE dd MMMM Y HH:mm') : '' }}</td>
                <td>{{ match.numSemaine }}</td>
            </tr>
        </tbody>
    </table>
</td>