{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
            <td>
                <table>

                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
