<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/ballon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/fontawesome-all.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}" />
    {% block stylesheets %}
    {% endblock %}
</head>
<body class="container">
    {% block header %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="{{asset('img/banniere-ggahb.png')}}" alt="Bannière GGAHB" height="150"/>
            </div>
        </div>
    {% endblock %}

    {% block menu %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('equipes_index') }}">Equipes</a>
            <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>

            <div class="ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ app.user.username }}
                    <a href="{{ path('logout') }}" class="btn" data-toggle="tooltip" data-placement="right" title="Deconnexion">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                {% else %}
                    <a href="{{ path('login') }}" data-toggle="tooltip" data-placement="right" title="Connexion">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                {% endif %}
            </div>
        </nav>
    {% endblock %}



    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
