<div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="{{ asset('photos/' ~ equipe.urlPhoto) }}" alt="Photo d'équipe">
        <div class="card-body">
            <h5 class="card-title">{{ equipe.libelle }}</h5>
            <p class="card-text">{{ equipe.commentaire|default('Pas de commentaire') }}</p>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="card" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ID : </strong>{{ equipe.id}}</li>
            <li class="list-group-item"><strong>Entraineur : </strong>{{ equipe.entraineur }}</li>
            <li class="list-group-item"><strong>Créneaux : </strong>{{ equipe.creneaux }}</li>
            <li class="list-group-item"><a href="{{ equipe.urlResultCalendrier }}">Résultats</a></li>
        </ul>
    </div>
</div>