<form method="post" action="{{ path('equipes_delete', {'id': equipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette équipe?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="right" title="Supprimer">
        <i style="width: 18px;height: 16px;" class="fas fa-trash"></i>
    </button>
</form>
