{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="right" title="{{ button_label|default('Enregistrer') }}">
            <i class="fas fa-save "></i>
        </button>
{{ form_end(form) }}
