{% extends 'base.html.twig' %}

{% block title %}Edit Equipes{% endblock %}

{% block body %}
    <h1>Edit Equipes</h1>

    {{ include('equipes/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('equipes/_delete_form.html.twig') }}
    <a class="btn btn-outline-primary" href="{{ path('equipes_index') }}" data-toggle="tooltip" data-placement="right" title="Retour aux équipes">
        <i class="fas fa-backward"></i>
    </a>

{% endblock %}
