{% extends 'base.html.twig' %}

{% block title %}Les équipes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.bootstrap4.min.css')}}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/pages/team-index.js') }}"></script>
{% endblock %}

{% block body %}
    <div>
        <br>
        <a href="{{ path('equipes_new') }}" class="btn btn-success">
            Ajouter une équipe <i class="fas fa-plus-square"></i>
        </a>
        <br>
        <br>
        <table id="team-table" class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Entraineur</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for equipe in equipes %}
                <tr>
                    <td>{{ equipe.id }}</td>
                    <td>{{ equipe.libelle }}</td>
                    <td>{{ equipe.entraineur }}</td>
                    <td>{{ equipe.commentaire }}</td>
                    <td>
                        <a href="{{ path('equipes_show', {'id': equipe.id}) }}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="Voir">
                            <i class="fas fa-eye"></i>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('equipes_edit', {'id': equipe.id}) }}" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="Modifier">
                                <i class="fas fa-edit"></i>
                            </a>
                            {{ include('equipes/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}