{% extends 'base.html.twig' %}

{% block title %}New Equipes{% endblock %}

{% block body %}
    <h1>Create new Equipes</h1>

    {{ include('equipes/_form.html.twig') }}
    <a class="btn btn-outline-primary" href="{{ path('equipes_index') }}" data-toggle="tooltip" data-placement="right" title="Retour aux équipes">
        <i class="fas fa-backward"></i>
    </a>

{% endblock %}
