{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/dataTables.bootstrap4.min.css')}}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/pages/matches-index.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Equipes</h1>

    <div class="row">
        {% include ('equipes/_card.html.twig') %}
    </div>
    <br>
    <div class="button-group">
        <a href="{{ path('equipes_index') }}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Retour">
            <i class="fas fa-backward"></i>
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('equipes_edit', {'id': equipe.id}) }}"  class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Modifier">
                <i class="fas fa-edit"></i>
            </a>
            {{ include('equipes/_delete_form.html.twig') }}
        {% endif %}
    </div>
    <br>
    <table id="matches-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Equipe Adverse</th>
                <th>Domicile Exterieur</th>
                <th>Date Heure</th>
                <th>Num Semaine</th>
                <th>Num Journee</th>
                <th>Gymnase</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in equipe.matches %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.equipeAdverse }}</td>
                <td>{{ match.domicileExterieur }}</td>
                <td>{{ match.dateHeure ? match.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ match.numSemaine }}</td>
                <td>{{ match.numJournee }}</td>
                <td>{{ match.gymnase }}</td>
                <td>
                    <a href="{{ path('matches_show', {'id': match.id}) }}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="Voir">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ path('matches_edit', {'id': match.id}) }}" class="btn btn-outline-info" data-toggle="tooltip" data-placement="right" title="Modifier">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
